.container{
    margin: 25px auto 0;
    position: relative;
    width: 692px;

}

.card{
    background-color: #fff;
    padding: 30px;
    position: relative;
    box-shadow: 0 0 5px rgba(75, 75, 75, .07);
    z-index: 1;
}

.card_body{
    display: inline-block;
}

.title{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    line-height: 40px;
}

.card_media{
    width: 300px;
    height: 250px;
}

.diet{
    display: inline-block;
    font-weight: 500;
    font-size: x-large;
    line-height: 20px;
    margin: 10px 0;
    text-transform: uppercase;
}

.description{
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(221, 164, 72);
}

.cardShadow{
    background-color: #fff;
    box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
    height: 1px;
    margin: -1px auto 0;
    width: 80%;
    z-index: -1;
}