.searchContainer{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 7;
}

.searchInput{
    font-size: large;
    border-radius: 5px;
    border: 2px solid #e0dd98;
    background-color: transparent;
    color: #e2e490;
}

.link{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(24, 23, 23);
    text-decoration: none;
    position: relative;
    font-size: 10px;
    z-index: 9;
    cursor: pointer;
    transition-duration: 0.4s;
}

.link:hover{
    background-color: #fd684d;
    color: white;
    border: 2px solid #fd684d
}

.buttonSearch{
    padding: 5px;
    margin: 5px;
    width: 100px;
    /* font-size: large; */
    border-radius: 5px;
    border: 2px solid #e4dea6;
    background-color: transparent;
    color: #070707;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

.buttonSearch:hover{
    background-color: #fd684d;
    color: white;
    border: 2px solid #fd684d
}